:root {
    --yellow: #f9ca24;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}


                                                            /*change the selection color*/

*::selection {

    background: var(--yellow);
    color: #333;
}

html {

    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: #222;
}

html::-webkit-scrollbar-thumb {

    background: var(--yellow);

}

                                                    /*change the boy color to black*/

body {

    background-color: black;
    overflow: hidden;
    padding-left: 35rem;

}


section {

    min-height: 100vh;
    padding: 1rem;

}


header {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 38rem;
    background: #1a1a1a;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;

}

header .topSection img {

    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2rem;
    border: 0.8rem solid dimgrey;

}

.topImg{
    display: none;
}

header .topSection .name {

    font-size: 2.5rem;
    color: white;
    margin-top: 1rem;

}

header .topSection .name:hover {

    padding-left: 60px;
    color: yellow;

}

header .topSection .headerText {

    font-size: 1rem;
    color: white;
    padding-bottom: 1rem;


}

header .navbar ul {

    list-style: none;


}

header .navbar ul li a {

    display: inline-table;
    padding: 0.1rem;
    margin: 0.6rem;
    font-size: 2rem;
    color: white;

}

header .navbar ul li a:hover {

    padding-left: 60px;
    color: yellow;

}

.icon {

    display: inline-table;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}

#menu {

    position: fixed;
    top: 2rem;
    right: 2rem;
    background: dimgrey;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;

}

                                                                /*Home Section*/


.home {
    color: #f9ca24;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3 {

    padding-left: 1rem;
    font-size: 4rem;
    color: white;

}


.home h1 {

    color: black;
    font-size: 5rem;

}

.wrapper {

    box-sizing: content-box;
    background-color: black;
    height: 6rem;
    padding: 2rem 1rem;
    display: flex;

}

.im {

    color: #f9ca24;
    padding-right: 1.5rem;

}

span {

    display: block;
    height: 100%;
    padding-left: 3rem;
    border: 2px solid orange;
    animation: spin_words 6s infinite;

}

.word {

    overflow: hidden;
    color: white;
    font-size: 3.5rem;

}

.myDetail {

    padding-left: 1rem;

}

@keyframes spin_words {

    10% {

        transform: translateY(-112%);

    }
    25% {
        transform: translateY(-100%);
    }
    35% {
        transform: translateY(-212%);
    }
    50% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-312%);
    }
    75% {
        transform: translateY(-300%);
    }
    85% {
        transform: translateY(-412%);
    }
    100% {
        transform: translateY(-400%);
    }


}

.home :hover {

    padding-left: 10px;
    color: yellow;

}


.socialLinks a {

    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 40px 15px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    padding-left: 1rem;

}


.socialLinks a:hover {

    padding-left: 10px;
    color: yellow;

}
                                                           /*side bar*/


.side-bar{

    background-color:rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    overflow-y: auto;
    transition: 0.8s ease;
    transition-property: right;

}

.side-bar.active {
    right: 0;

}

.side-bar .menu{

    width: 100%;
    margin-top: 80px;

}

.side-bar .menu .links{

    position: relative;
    cursor: pointer;
}

.side-bar .menu .links a{

    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    line-height: 60px;
}

.side-bar .menu .links a:hover{
    padding-left: 10px;
    color: yellow;
}


.side-bar .menu .links i{
    margin-right: 2rem;
}


.close-btn{

    position: absolute;
    color: white;
    font-size: 20px;
    left: 0;
    margin :25px;
    cursor: pointer;

}



.menu-btn{

    display: none;
    position: absolute;
    color: white;
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
    right: 0;

}

                                                    /*mobile view */


@media (max-width: 1200px) {

    html {

        font-size: 55%;

    }

    .home{

        padding: 1rem 4rem;

    }

}

@media (max-width: 991px) {

    header {

        left: -120%;


    }

    #menu {

        display: block;


    }

    body{

        padding: 0;

    }

    .word{

        font-size: 2rem;

    }

    .wrapper{

        background-color: black;
        height: 6rem;
        padding: 2rem 1rem;
        display: flex;

    }

    span {

        display:block;
        height: 100%;
        padding-left: 3rem;
        padding-top: 1rem;
        border: 2px solid orange;
        animation: spin_words 6s infinite;

    }

    .menu-btn{
        display: block;
        position: absolute;
        color: white;
        font-size: 20px;
        margin: 25px;
        cursor: pointer;
        right: 0;
    }

    .topImg{
        display: block;
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        object-fit: cover;
        margin-top: 2rem;
        margin-bottom: 3rem;

        border: 0.8rem solid dimgrey;


    }


}

