:root {
    --yellow: #f9ca24;

}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}


/*change the selection color*/

*::selection {

    background: #f9ca24;
    color: #333;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: #222;
}

html::-webkit-scrollbar-thumb {

    background: #f9ca24;

}

/*change the boy color to black*/

body {
    scroll-behavior: smooth;
    background-color: #000000;
    background-image: linear-gradient(127deg, #000000 0%, #434343 74%);
    overflow: hidden;
    padding-left: 35rem;

}


section {

    min-height: 100vh;
    padding: 1rem;

}

header {

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;
    height: 100%;
    width: 38rem;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;

}


header .topSection img {

    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2rem;
    border: 0.8rem solid dimgrey;

}

.topImg {

    display: none;

}

header .topSection .name {

    font-size: 2.5rem;
    color: white;
    margin-top: 1rem;

}

header .topSection .name:hover {

    padding-left: 60px;
    background: rgb(255, 222, 32);

}

header .topSection .headerText {

    font-size: 1.8rem;
    color: white;
    font-weight: bolder;
    padding-bottom: 1rem;

}

header .navbar ul {

    list-style: none;

}

header .navbar ul li a {

    display: inline-table;
    padding: 0.1rem;
    margin: 0.6rem;
    font-size: 2rem;
    color: white;
    font-weight: bolder;

}

header .navbar ul li a:hover {

    padding-left: 60px;
    color: rgb(255, 201, 25);

}

.icon {

    display: inline-table;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}


/*Home Section*/


.home {

    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3 {

    padding-left: 1rem;
    font-size: 4rem;
    color: white;

}


.home h1 {

    color: black;
    font-size: 5rem;

}

.wrapper {

    box-sizing: content-box;
    /*background-color: black;*/
    height: 6rem;
    padding: 2rem 1rem;
    display: flex;

}

.im {

    color: #ffde49;
    padding-right: 1.5rem;

}

.homeSpan {

    display: block;
    height: 100%;
    padding-left: 3rem;
    border: 2px solid rgb(255, 217, 0);
    animation: spin_words 6s infinite;

}

.word {

    overflow: hidden;
    color: white;
    font-size: 3.5rem;

}

.myDetail {

    color: white;
    padding-left: 1rem;
    font-size: 20px;

}

@keyframes spin_words {

    10% {

        transform: translateY(-112%);

    }
    25% {
        transform: translateY(-100%);
    }
    35% {
        transform: translateY(-212%);
    }
    50% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-312%);
    }
    75% {
        transform: translateY(-300%);
    }
    85% {
        transform: translateY(-412%);
    }
    100% {
        transform: translateY(-400%);
    }


}

.home :hover {

    padding-left: 10px;
    color: rgb(255, 220, 23);

}


.socialLinks a {

    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 40px 15px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    padding-left: 1rem;

}


.socialLinks a:hover {

    padding-left: 10px;
    color: rgb(255, 220, 23);

}

/*side bar*/


.side-bar {

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    overflow-y: auto;
    transition: 0.8s ease;
    transition-property: right;

}

.side-bar.active {
    right: 0;

}

.side-bar .menu {

    width: 100%;
    margin-top: 80px;

}

.side-bar .menu .links {

    position: relative;
    cursor: pointer;
}

.side-bar .menu .links a {

    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    line-height: 60px;
}

.side-bar .menu .links a:hover {
    padding-left: 10px;
    color: rgb(255, 212, 21);
}


.side-bar .menu .links i {
    margin-right: 2rem;
}


.close-btn {

    position: absolute;
    color: white;
    font-size: 20px;
    left: 0;
    margin: 25px;
    cursor: pointer;

}


.menu-btn {

    display: none;
    position: absolute;
    color: white;
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
    right: 0;

}


/*    start About  View*/
.about-img {
    width: 400px;
    height: 500px;
    position: relative;
    /*margin: 50px auto;*/
}

.frame {
    width: 400px;
    height: 500px;
    border: 20px solid #f3c212;
    /* border-image: url(images/img.jpg) 25 25;*/
    position: absolute;
    z-index: 1;
    animation: frame 5s linear infinite;
}

@keyframes frame {
    0% {
        transform: scale(.9);
        opacity: 0;
    }
    20% {
        transform: scale(1);
        opacity: 1;
    }
    80% {
        transform: scale(1);
        opacity: 0;
    }
    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}

.slide {
    position: absolute;
    left: 41px;
    bottom: -150px;
    opacity: 0;
    animation: slider 5s infinite;
}

.slide img {
    width: 700px;
    height: 850px;
    z-index: -1;
}

@keyframes slider {
    0% {
        transform: translate(50px);
        opacity: 0;
    }
    30% {
        transform: translate(-55px);
        opacity: 1;
    }
    50% {
        transform: translate(-55px);
        opacity: 1;
    }
    100% {
        transform: translate(-100px);
        opacity: 0;
    }
}

/* about */
.aboutHeading {

    text-align: right;
    margin: 0.6rem;
    font-size: 3rem;
    padding: 1rem;
    border-bottom: 1rem solid #f9ca24;
    color: white;

}

.aboutHeading Span {

    color: #f9ca24;

}

.about .row {

    display: flex;
    align-items: center;
    padding-left: 4rem;
    padding-top: 2rem;
}

.info-img {
    padding-left: 1.5rem;
    padding-right: 4rem;
    height: 45rem;
    width: 40rem;


}


.aboutSpan {

    color: white;

}

.aboutInfo {

    justify-content: right;
    padding-top: 1rem;
    padding-left: 20px;
    font-size: 20px;
    color: #f9ca24;

}


.about .myAbout {
    z-index: 1;
    color: white;
    font-size: 20px;
    display: compact;
}

.aboutPara {


    padding-left: 4rem;
    padding-top: 4rem;
    padding-bottom: 50px;
    font-size: 1.5rem;
}

.btn{
    padding-left: 120px;
    padding-top: 30px;
}

.download-cv-button{
    /*position: absolute;*/
    bottom: 20px;
    left: 100%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    border: 2px solid #ffb71b;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
    background: rgba(255, 210, 10, 0.5);
    font-weight: 900;
}

.download-cv-button:hover{
    background: #c09600;
}






/* Education */

.timeline{
    display: block;
    width: 80%;
    margin: 150px auto;
    /*margin-bottom: 150px;*/
}

.card{
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;
    margin: -80px 0;
    position: relative;
    background: #f00;
}

.card:nth-child(even){
    margin-left: auto;
}

.card:nth-child(even):before{
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(even):after{
    content: '';
    position: absolute;
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(odd):before{
    content: '';
    position: absolute;
    right: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(odd):after{
    content: '';
    position: absolute;
    right: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(1), .card:nth-child(1):before{
    background: #ff4f4f;
}
.card:nth-child(2), .card:nth-child(2):before{
    background: #ffb84f;
}
.card:nth-child(3), .card:nth-child(3):before{
    background: #3dca5c;
}
.card:nth-child(4), .card:nth-child(4):before{
    background: #4fa0ff;
}

.card:nth-child(even) .card-body:before{
    content: '';
    position: absolute;
    left: -12%;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px dashed #fff;
    z-index: -1;
}

.card-title{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}






/* project */

.project-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    /*position: fixed;*/
    top: 0;
    transition: 1s;
    /*opacity: 0;*/
}

.project-section.active{
    position: relative;
    opacity: 1;
    z-index: 8;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}

.project-card{
    height: 400px;
    position: relative;
}

.project-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
}

.project-content{
    position: relative;
    padding: 40px;
    color: white;
    transition: .5s;
    opacity: 0;
    
}

.project-title{
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}

.project-info{
    margin: 10px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}

.project-btn-grp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

}

.project-btn{
    height: 40px;
    text-transform: capitalize;
    font-size: 13px;
    border: none;
    background: #000;
    color: white;
    cursor: pointer;
}

.project-btn.live{
    background: none;
    border: 2px solid #fff;
}

.project-card:hover .project-img{
    filter: blur(20px);
}

.project-card:hover .project-content{
    opacity: 1;
}

/* skills */

.skill-section{
    position: relative;
    margin: 100px 100px 50px 10px;
}

.skills-container{
    width: 98%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    color: #fff;

}

.skill-card{
    position: relative;
}

.skill-img{
    display: block;
    margin: auto;
    height: 200px;
}
.skill-name{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 20px;
}

.skill-info{
    text-align: center;
    opacity: 0.5;
    font-size: 15px;
    line-height: 30px;
}

.skill-level{
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
}
.skill-card:nth-child(1) .skill-level{
    background: #ff4f4f28;
    border-color: #ff4f4f;
    color: #ff4f4f;
}

.skill-card:nth-child(2) .skill-level{
    background: #4fe5ff28;
    border-color: #4fe5ff;
    color: #4fe5ff;
}

.skill-card:nth-child(3) .skill-level{
    background: #fff34f28;
    border-color: #fff34f;
    color: #fff34f;
}

.skill-card:nth-child(4) .skill-level{
    background: #ffb34f28;
    border-color: #ff7b00;
    color: #ff7b00;
}

.skill-card:nth-child(5) .skill-level{
    background: #78ff4f28;
    border-color: #3bff3b;
    color: #3bff3b;
}

.skill-card:nth-child(6) .skill-level{
    background: #ff4fb028;
    border-color: #ff3f8f;
    color: #ff3f8f;
}

.skill-card:nth-child(7) .skill-level{
    background: #f04fff28;
    border-color: #ff16e0;
    color: #ff16e0;
}

/*contact */

.contact-form {

    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    padding-top: 50px;

}

.contact-form-text {

    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    color: rgb(255, 217, 46);

    padding: 20px 40px;
    outline: none;
    transition: 0.5s;
}

::placeholder {
    color: white;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #ffc31f;
}

textarea.contact-form-text {

    resize: none;
    height: 120px;

}

.contact-form-btn {

    float: right;
    background: #ffb71b;
    color: black;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: #fff024;
}

/*mobile view home */


@media (max-width: 1200px) {

    html {

        font-size: 55%;

    }

    .home {

        padding: 1rem 4rem;

    }

}

@media (max-width: 991px) {


    header {

        left: -120%;


    }

    #menu {

        display: block;


    }

    body {

        padding: 0;


    }

    .word {

        font-size: 2rem;

    }

    .wrapper {

        background-color: black;
        height: 6rem;
        padding: 2rem 1rem;
        display: flex;

    }

    .homeSpan {

        display: block;
        height: 100%;
        padding-left: 2rem;
        font-size: 2.1rem;
        padding-top: 1rem;
        padding-bottom: 3rem;
        border: 3px solid orange;
        animation: spin_words 6s infinite;


    }

    .menu-btn {
        display: block;
        position: absolute;
        color: white;
        font-size: 20px;
        margin: 25px;
        cursor: pointer;
        right: 0;
    }

    .topImg {
        display: block;
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        object-fit: cover;
        /*  margin-top: 1rem;
          margin-bottom: 4rem;
          margin-left: 6rem;*/
        align-self: center;

        margin-top: 2rem;
        border: 0.8rem solid #f9ca24;


    }


    .home h3 {

        align-self: center;
        font-size: 5rem;
        font-weight: bolder;
        color: #f9ca24;

    }

    .myDetail {
        color: white;
        padding-left: 1rem;
        font-size: 2rem;

    }

    .im {
        font-size: 2rem;
    }


    /*   About page*/
    .aboutInfo {

        justify-content: right;
        padding-top: .05rem;
        font-size: 1.3rem;
        color: #f9ca24;

    }


    .about .row {

        display: flex;
        align-items: center;
        padding-left: 4rem;
        padding-right: 2rem;
        padding-top: 6rem;
    }


    .aboutPara {

        padding-right: 2rem;

    }


    .about .myAbout {

        margin-top: 3rem;
        font-size: 1.5rem;

    }


    /* End HOME mobile view home */
    /*    start About MOBILE View*/
    /* CONTACT PAGE*/
    .contact-form {


        padding-top: 150px;


    }

}




